{% extends 'base.html' %} {% load static %} {% block styles %}
<link
  rel="stylesheet"
  href="{% static 'css/style_chatbot.css' %}"
  type="text/css"
/>
{% endblock %} {% block content %}

<div class="auth-container">
  <!-- Position the username at the top left -->
  <div class="username-container">
    <span class="username">{{ user.username|escape }}</span>
  </div>

  <!-- Position the auth buttons at the top right -->
  <div class="auth-buttons">
    {% if not user.is_authenticated %}
    <a href="{% url 'login' %}" class="btn btn-primary btn-md" role="button"
      >Login</a
    >
    {% else %}
    <a href="{% url 'logout' %}" class="btn btn-danger btn-md" role="button"
      >Logout</a
    >
    {% endif %}
  </div>
</div>
<div class="chatbox">
  <header>Talk to JULIE:</header>

  <div id="chat-container">
    <!-- Older messages can be loaded dynamically from here -->
    {% for chat in chats %}
    <div class="message"><b>You:</b> {{ chat.message|escape }}</div>
    <div class="message"><b>Julie:</b> {{ chat.response|escape }}</div>
    {% endfor %}
    <!-- New messages will be appended here -->
  </div>

  <div class="input-container">
    <form method="post">
      {% csrf_token %}
      <input
        autofocus
        name="message"
        placeholder="Type a message..."
        type="text"
      />
      <button type="submit" class="send-btn">
        <i class="fas fa-paper-plane"></i>
        <!-- Font Awesome Paper Plane icon -->
      </button>
    </form>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="{% static 'js/script_chatbot.js' %}"></script>
{% endblock %}
