:root {
  --primary-bg-gradient-start: #bdc3c7;
  --primary-bg-gradient-end: #2c3e50;
  --chatbox-bg-color: #FFFFFF;
  --chatbox-shadow: rgba(0, 0, 0, 0.1);
  --chatbox-border-radius: 0.5rem;
  --chatbox-margin: auto;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
  animation: GradientShift 15s ease infinite;
  overflow: hidden;
}

.chatbox {
  position: relative;
  left: 23%;
  width: 50%;
  height: 100vh;
  max-height: calc(105vh - 6rem);
  background: var(--chatbox-bg-color);
  box-shadow: var(--chatbox-shadow);
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.chatbox header {
  background: linear-gradient(to right, #676c6e, #2c3e50);
  color: #FFFFFF;
  padding: 1rem;
  animation: GradientShift 15s ease infinite;
}

.chatbox h1 {
  text-align: center;
  color: #000000;
}

#chat-container {
  padding: 0.5rem;
  background: #FFFFFF;
  flex-grow: 1;
  height: auto;
  overflow-y: auto;
}

.username-container {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 1rem;
  margin-top: 1rem;
}

.auth-buttons {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 1rem;
  margin-top: 1rem;
}

.btn-primary:hover,
.btn-danger:hover,
.btn-primary:focus,
.btn-danger:focus {
  opacity: 0.75;
  outline: none;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.message {
  display: flex;
  align-items: flex-start;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  color: #2b2a2a;
  background-color: #f9f9f9;
  transition: background-color 0.2s;
  animation: fadeIn 0.5s ease-in-out;
}

.message:hover {
  background-color: #e9e9e9;
}

.avatar {
  border-radius: 50%;
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
}

.sender-name {
  font-weight: bold;
  flex-shrink: 0;
}

.message-text {
  flex-grow: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.5rem;
}

.message b {
  color: #000000;
}

.user-message .avatar {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  font-size: 2em;
}

.chatbot-avatar {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

.input-container {
  align-items: center;
  padding: 0.2rem;
  background: linear-gradient(to right, #f5f3f3, #2c3e50);
  box-shadow: 0 4rem 6rem rgba(50, 50, 93, 0.11), 0 1rem 3rem rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease-in-out;
}

.input-container .form-group {
  flex-grow: 1;
  margin-right: 0;
}

.input-container input {
  padding: 0.5rem;
  border: none;
  box-shadow: inset 0 2rem 4rem rgba(0, 0, 0, 0.06);
  outline: none;
  background: #ecf0f1;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 2rem 0 0 2rem; 
  flex-grow: 1;
}

.input-container button {
  padding: 1rem;
  border: none;
  background: #34495e;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none;
  box-sizing: border-box; 
}

.input-container button:hover,
.input-container button:focus {
  background-color: #4e6a85;
}

.input-container button:active {
  background-color: #2c3e50;
}

.input-container button:focus-visible {
  outline: 3rem solid #3498db;
}

.typing .dot1,
.typing .dot2,
.typing .dot3 {
  animation: typing 1.5s infinite;
  display: inline-block;
}

/* Profile Modal Custom Styling */
.modal-content {
  background: var(--primary-bg-gradient-end); 
  color: #fff; 
  border-radius: 0.5rem; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-header,
.modal-footer {
  border-bottom: 1px solid #444; 
  background: var(--primary-bg-gradient-start);
}

.modal-title {
  color: #fff; 
}

.modal-body {
  padding: 2rem;
}

.form-control {
  color: #fff;
  border: 1px solid #444; 
  border-radius: 0.25rem; 
}

#user-bio {
  height: 6rem; 
  width: 20rem;
}

#user-email, #user-name,
#user-phone {
  width: 20rem;
}

#profile-picture {
  height: 3rem;
  border-bottom: 1rem;
}

.edit-input {
  display: block;
}

.btn-outline-primary {
  color: #fff; /* Light text for buttons */
  border-color: #4e6a85; /* Border color for buttons */
}

.btn-outline-primary:hover {
  background-color: #4e6a85; /* Hover state for buttons */
  color: #fff;
}

.btn-primary {
  background-color: #3498db; /* Primary button color */
  border-color: #3498db; /* Border color for primary button */
}

.btn-secondary {
  background-color: #95a5a6; /* Secondary button color */
  border-color: #95a5a6; /* Border color for secondary button */
}


.edit-btn {
  background-color: transparent;
  border: none;
  color: #fff; /* White icon color for better visibility */
}

.edit-btn:hover {
  color: #4e6a85; /* Color for hover state */
}

/* Styling for the file input */
input[type="file"] {
  background: #555; /* Darker background for file input */
  color: #fff;
}

input[type="file"]::file-selector-button {
  background: #919496;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 0.25rem; /* Rounded corners for the button */
}

input[type="file"]::file-selector-button:hover {
  background: #2980b9;
}

.toast-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050; /* Higher than other elements but lower than modals */
}

.hidden {
  display: none;
}

@keyframes typing {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeAndSlideIn {
  from {
    opacity: 0;
    transform: translateY(20rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes GradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes avatarPulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}

.timestamp {
  color: #1a1919;
  font-size: 0.75em;
  flex-shrink: 0;
  margin-left: auto;
}

.message {
  animation: fadeIn 0.5s ease-in-out;
}

.empty-state {
  text-align: center;
  padding: 20px;
  color: #555;
}

.empty-state h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.empty-state p {
  font-size: 1em;
  margin-bottom: 1em;
}

*,
*:before,
*:after {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
